## Loops and Functions Practice

In this notebook, you'll get some additional practice working with loops and functions for importing, cleaning, and visualizing data.

### Warmup Questions
## Loops

Recall that a loop can be used whenever you are repeating the same operation multiple times.

For example,

In [1]:
print('a')
print('b')
print('c')
print('d')

a
b
c
d

can be rewritten to accomplish the same outcome. We just need to recognize that the repeated code is the `print` function and the part that changes is the argument value.

In [2]:
for letter in ['a','b','c','d']:
    print(letter)

a
b
c
d

Recall also that `range` can be helpful when writing for loops if you want to iterate through a set of consecutive numbers.

In [3]:
for number in range(10):
    print(number)

0
1
2
3
4
5
6
7
8
9

**Your Turn:** Write a for loop that prints out the squares of the numbers 1 through 10.

In [5]:
# Your Code Here
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

Now, modify your code so that it prints out the squares of the even integers between 1 and 10. 

**Hint:** You can do this either by using conditional logic (if statements) or you might find a different way if you check out the parameters of the range function (https://www.w3schools.com/python/ref_func_range.asp).

In [6]:
# Your Code Here
for i in range(1,11):
    if i % 2 == 0:
        print(i**2)

4
16
36
64
100

### The Accumulator Pattern

Often when working with loops, you will want to capture the results of each iteration. This is usually done by either using a numeric accumulator or a container like a list to hold the intermediate results.

For example, if we wanted to sum the first 100 positive integers we could do this using the accumulator pattern.

In [7]:
total_sum = 0
for number in range(1, 101):
    total_sum += number
    
print(f'The total sum is {total_sum}')

The total sum is 5050

Or, we might want to do a calculation and store the results:

In [8]:
squares = []
for number in range(1, 10):
    squares.append(number**2)

In [9]:
squares

[1, 4, 9, 16, 25, 36, 49, 64, 81]

**Your Turn:** Find the sum of the squares of all even integers between 2 and 1000.

In [10]:
# Your Code
sum = 0
for i in range(2, 1001):
    if i % 2 == 0:
        sum += i ** 2
print(f'The sum of the squares of all even integers between 2 and 1000 is: {sum}')

The sum of the squares of all even integers between 2 and 1000 is: 167167000

## Functions

When you find yourself repeating the same or very similar code, it could signal that you need a for loop or that you should rewrite your code as a function that can be reused.

Some advantages of using functions are that you don't have to worry about making copy/paste errors and that if you realize that you need to change the logic of your code, you need only update it in one location.

Components of most functions:
* `def` followed by the name of the function
* A set of parentheses and the list of function parameters.
* A body that defines what to do with the inputs.
* A return statement that indicates what the function outputs.

For example, if we want to calculate the square of a number, we could write a very basic function to accomplish this:

In [11]:
def square_number(x):
    return x**2

Once our function is defined, we can call it and pass in inputs:

In [12]:
square_number(10)

100

In [13]:
square_number(-4)

16

Our function can also include more complex logic and multiple return statements:

In [14]:
def absolute_value(x):
    if x >= 0:
        return x
    else:
        return -x

In [15]:
absolute_value(2)

2

In [16]:
absolute_value(-6)

6

**Your Turn:** Write a function named `collatz` that will take as input a number. If that number is even, your function should divide it by two and return the result. If the number is odd, it should triple the number and add one and then return the result.

**Hint:** If you want to check if a number is even, you can use the modulus operator. See, for example, https://discuss.codecademy.com/t/how-can-i-check-if-a-number-is-odd/339354.

In [17]:
# Your Code Here
def collatz(num):
    if num % 2 == 0:
        return num / 2
    else:
        return (num * 3) + 1

### Intermediate Questions

For these questions, you'll be working with data from the Lahman baseball database. In order to get this data into Python, we are going to write a query and execute it using the sqlalchemy library.

In [18]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine, text

In [23]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.9-cp39-cp39-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.9

In [26]:
database_name = 'lahman'    # Fill this in with your lahman database name
connection_string = f"postgresql://postgres:postgres@localhost:5432/{database_name}"
engine = create_engine(connection_string)
connection = engine.connect()

Now, you're going to write a series of functions to work with this team data. Note that you can write and execute a SQL query using `read_sql` if you want to check that you're getting the correct results. 

Write a function `get_teams` that will take as input a year and which returns the team stats (from the teams table) for the input year.

In [28]:
# Your Code Here
def get_teams(year):
    query = f'''
        select * from teams
        where yearid = {year}
    '''
    stats = connection.execute(query).fetchall()
    return pd.DataFrame(stats)

get_teams('2010')

,yearid,lgid,teamid,franchid,divid,rank,g,ghome,w,l,...,dp,fp,name,park,attendance,bpf,ppf,teamidbr,teamidlahman45,teamidretro
0,2010,AL,BAL,BAL,E,5,162,81,66,96,...,141,0.982,Baltimore Orioles,Oriole Park at Camden Yards,1733018,101,102,BAL,BAL,BAL
1,2010,AL,BOS,BOS,E,3,162,81,89,73,...,132,0.982,Boston Red Sox,Fenway Park II,3046443,106,105,BOS,BOS,BOS
2,2010,AL,CHA,CHW,C,2,162,81,88,74,...,158,0.983,Chicago White Sox,U.S. Cellular Field,2194378,105,105,CHW,CHA,CHA
3,2010,AL,CLE,CLE,C,4,162,81,69,93,...,179,0.982,Cleveland Indians,Jacobs Field,1394812,93,93,CLE,CLE,CLE
4,2010,AL,DET,DET,C,3,162,81,81,81,...,171,0.982,Detroit Tigers,Comerica Park,2461237,101,101,DET,DET,DET
5,2010,AL,KCA,KCR,C,5,162,81,67,95,...,138,0.980,Kansas City Royals,Kauffman Stadium,1615324,99,101,KCR,KCA,KCA
6,2010,AL,LAA,ANA,W,3,162,81,80,82,...,116,0.981,Los Angeles Angels of Anaheim,Angel Stadium,3250816,98,98,LAA,ANA,ANA
7,2010,AL,MIN,MIN,C,1,162,81,94,68,...,150,0.987,Minnesota Twins,Target Field,3223640,101,100,MIN,MIN,MIN
8,2010,AL,NYA,NYY,E,2,162,81,95,67,...,161,0.988,New York Yankees,Yankee Stadium III,3765807,105,103,NYY,NYA,NYA
9,2010,AL,OAK,OAK,W,2,162,81,81,81,...,147,0.984,Oakland Athletics,Oakland-Alameda County Coliseum,1418391,100,100,OAK,OAK,OAK
10,2010,AL,SEA,SEA,W,4,162,81,61,101,...,145,0.982,Seattle Mariners,Safeco Field,2085488,93,95,SEA,SEA,SEA
11,2010,AL,TBA,TBD,E,1,162,81,96,66,...,134,0.986,Tampa Bay Rays,Tropicana Field,1843445,96,95,TBR,TBA,TBA
12,2010,AL,TEX,TEX,W,1,162,81,90,72,...,133,0.982,Texas Rangers,Rangers Ballpark in Arlington,2505171,105,104,TEX,TEX,TEX
13,2010,AL,TOR,TOR,E,4,162,78,85,77,...,172,0.985,Toronto Blue Jays,Rogers Centre,1625555,100,100,TOR,TOR,TOR
14,2010,NL,ARI,ARI,W,5,162,81,65,97,...,152,0.983,Arizona Diamondbacks,Chase Field,2056941,104,105,ARI,ARI,ARI
15,2010,NL,ATL,ATL,E,2,162,81,91,71,...,166,0.980,Atlanta Braves,Turner Field,2510119,98,97,ATL,ATL,ATL
16,2010,NL,CHN,CHC,C,5,162,81,75,87,...,137,0.979,Chicago Cubs,Wrigley Field,3062973,108,108,CHC,CHN,CHN
17,2010,NL,CIN,CIN,C,1,162,81,91,71,...,142,0.988,Cincinnati Reds,Great American Ball Park,2060550,99,99,CIN,CIN,CIN
18,2010,NL,COL,COL,W,3,162,81,83,79,...,182,0.984,Colorado Rockies,Coors Field,2875245,115,115,COL,COL,COL
19,2010,NL,FLO,FLA,E,3,162,81,80,82,...,130,0.979,Florida Marlins,Dolphin Stadium,1535226,105,104,FLA,FLO,FLO
20,2010,NL,HOU,HOU,C,4,162,81,76,86,...,135,0.983,Houston Astros,Minute Maid Park,2331490,95,96,HOU,HOU,HOU
21,2010,NL,LAN,LAD,W,4,162,81,80,82,...,124,0.984,Los Angeles Dodgers,Dodger Stadium,3562320,95,95,LAD,LAN,LAN
22,2010,NL,MIL,MIL,C,3,162,81,77,85,...,142,0.983,Milwaukee Brewers,Miller Park,2776531,98,98,MIL,ML4,MIL
23,2010,NL,NYN,NYM,E,4,162,81,79,83,...,159,0.986,New York Mets,Citi Field,2559738,97,97,NYM,NYN,NYN
24,2010,NL,PHI,PHI,E,1,162,84,97,65,...,158,0.986,Philadelphia Phillies,Citizens Bank Park,3647249,101,100,PHI,PHI,PHI
25,2010,NL,PIT,PIT,C,6,162,81,57,105,...,120,0.979,Pittsburgh Pirates,PNC Park,1613399,99,101,PIT,PIT,PIT
26,2010,NL,SDN,SDP,W,2,162,81,90,72,...,141,0.988,San Diego Padres,Petco Park,2131774,91,91,SDP,SDN,SDN
27,2010,NL,SFN,SFG,W,1,162,81,92,70,...,110,0.988,San Francisco Giants,AT&T Park,3037443,101,101,SFG,SFN,SFN
28,2010,NL,SLN,STL,C,2,162,81,86,76,...,172,0.984,St. Louis Cardinals,Busch Stadium III,3301218,97,97,STL,SLN,SLN
29,2010,NL,WAS,WSN,E,5,162,81,69,93,...,148,0.979,Washington Nationals,Nationals Park,1828066,99,100,WSN,MON,WAS

Now, write a function `get_best_teams` that will take as input a `year`, a number `n` (which should default to 5) and a parameter `stat` (which should default to wins "w") and which will return the n teams with the largest value for the selected statistic.

Calling `get_best_teams(year = 2014, n = 3)` should return the Los Angeles Angels, the Baltimore Orioles, and the Washington Nationals.

In [42]:
# Your Code Here
def get_best_teams(year, n=5, stat='w'):
    query = f'''
        select * from teams
        where yearid = {year}
        order by {stat} desc
        limit {n}
    '''
    stats = connection.execute(query).fetchall()
    return pd.DataFrame(stats).name

get_best_teams(year = 2014, n = 3)

0    Los Angeles Angels of Anaheim
1                Baltimore Orioles
2             Washington Nationals
Name: name, dtype: object

Now, modify `get_best_teams` by adding a parameter `ascending` so that you can choose to return either the top or the bottom teams in terms of the selected stat.

Calling `get_best_teams(year=2014, n=3, stat="era", ascending=True)` should return the Washington Nationals, the Seattle Mariners, and the Oakland Athletics.

In [41]:
# Your Code Here
def get_best_teams(year, n=5, stat='w', ascending=True):
    query = f'''
        select * from teams
        where yearid = {year}
        order by {stat} {"asc" if ascending else 'desc'}
        limit {n}
    '''
    stats = connection.execute(query).fetchall()
    return pd.DataFrame(stats)['name']

get_best_teams(year = 2014, n = 3, stat='era', ascending=True)

0    Washington Nationals
1        Seattle Mariners
2       Oakland Athletics
Name: name, dtype: object

Now, modify `get_best_teams` so that you can choose to return just the best teams from one league or the other (using the `lgid` column), but by default does not filter based on league. Do this by adding a `league` parameter with default value of "both".

Calling `get_best_teams(year=2014, n=3, league="AL", ascending = True)` should return the Texas Rangers, the Houston Astros, and the Minnesota Twins.

In [43]:
# Your Code Here
# Your Code Here
def get_best_teams(year, league="", n=5, stat='w', ascending=True):
    query = f'''
        select * from teams
        where yearid = {year}
        order by {stat} {"asc" if ascending else 'desc'}
    '''
    stats = pd.DataFrame(connection.execute(query).fetchall())
    if league:
        return stats[stats['lgid'] == league].head(3).name
    else:
        return stats 


get_best_teams(year = 2014, n = 3, league='AL', ascending=True)

2      Texas Rangers
3     Houston Astros
4    Minnesota Twins
Name: name, dtype: object

Now, make a function `plot_best_teams` which takes the same parameters as `get_best_teams` but which creates a bar chart displaying the best teams for the selected stats.

Make sure that your plot has a title and is labeled.

In [ ]:
# Your Code Here

Add a `filepath` parameter to `plot_best_teams` which defaults to `None`. If a filepath is given, the function should save the resulting plot to the input filepath. **Hint:** You'll need to use the [`savefig` function](https://matplotlib.org/stable/api/_as_gen/matplotlib.pyplot.savefig.html).

In [ ]:
# Your Code Here

Finally, utilize a for loop to create an image for each year from 2000 through 2010 which shows the top 10 teams in terms of number of wins. These images should be saved into an `images` folder which appropriate filenames.

In [ ]:
# Your Code Here

### Challenge Questions

If you're able to solve the previous questions, you can give these advanced questions a try.

The [Tennessee Department of Health](https://www.tn.gov/health/health-program-areas/statistics/health-data/death-statistics.html) published data on number of deaths by cause broken down by county.

Start with the data contained in `TN Deaths Malignant Neoplasms - 2018.xlsx`.

If you inspect the file, you'll see that the data is divided up into two tables.

First, let's see how we can read in the lefthand table. We can use the `read_excel` function and point it to columns A - G.

In [ ]:
neoplasms = pd.read_excel(
    '../data/TN Deaths Malignant Neoplasms - 2018.xlsx',
    header=4,
    usecols='A:G'
)

In [ ]:
neoplasms

Do the following steps to clean up the resulting dataframe:
* Remove the unneeded rows at the top and bottom
* Give the columns descriptive names
* Ensure that the numeric columns are numeric (and have NaNs where there were either *'s or -'s). **Hint:** You could use the pandas `to_numeric` function for this.

Once you have these steps figured out, create a function named `get_deaths_data` that takes as input a `filepath` and string of `usecols` and returns the resulting cleaned up dataframe.

In [ ]:
# Your Code Here

Now, apply your function to both tables contained in the `TN Deaths Malignant Neoplasms - 2018.xlsx` sheet and concatenate the results together to get a single resulting dataframe.

In [ ]:
# Your Code Here

We can get a list of all of the filenames contained in the data folder using the `glob` library:

In [ ]:
import glob
filenames = glob.glob('../data/*.xlsx')

filenames

Your final task is to create a dataframe which has one row per county and one column per cause of death. This column should have the total number of deaths for that cause.

In [ ]:
# Your Code Here